* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    
    
    }
    
    .navbar {
        background: #fff ;
        box-shadow: 0px 3px 2px 0.5px rgba(255, 255, 255, 0.205);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        top: 0px;
        z-index: 999;
        
        
    
    }
    
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0px auto;
        padding: 0px 30px;
    
    }
    
    #navbar-logo {
        color: #3D3D3D;
        text-decoration: none;
        background-size: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 2rem;
        font-weight: 600;
        
    }
    
    .navbar-menu {
        display: flex;
        text-decoration: none;
        align-items: center;
        list-style: none;
    
    }
    .navbar-links {
        -webkit-text-fill-color: #3D3D3D;
        text-decoration: none;
        display: flex;
        width: 80px;
        font-size: 0.9rem;
        align-items: center;
        justify-items: center;
    } 
    
    .navbar-links {
        justify-items: center;
    
    
    }
    
    
    .navbar-links:hover {
        -webkit-text-fill-color: #97b413
    }
    
    .navbar-links:active {
        text-decoration: underline;
    }
    




.my-picture img{
    max-width: 100%;
    width: 100%;
}

.All-about{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 4%;
}

.About-me{
    font-weight: 500;
    margin-right: 5%;
    line-height: 25px;
}